# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Logs
*.log

# Environment
.env

# IDE
.vscode/
.idea/
# Docker / local data
postgres_data/
filestore/
docker/data/
docker/logs/

# Backup / temporary files
*.save
*.bak
*.tmp

# Odoo
.odoo/
third_party/
